<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{{ 'index.html' | url }}">Documentation</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        
    </form>
    <!-- Navbar-->
    <div class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/hansaldev" target="_blank">
                <i class="fab fa-github fa-fw"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://linkedin.com/in/hansaldev/" target="_blank">
                <i class="fab fa-linkedin fa-fw"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://facebook.com/hansaldv/" target="_blank">
                <i class="fab fa-facebook fa-fw"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://x.com/hansaldev/" target="_blank">
                <i class="fab fa-twitter fa-fw"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://t.me/hansaldev" target="_blank">
                <i class="fab fa-telegram fa-fw"></i>
            </a>
        </li>
    </div>
</nav>