<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                
                <a class="nav-link" href="{{ relative_url('index.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Introduction
                </a>
                <div class="sb-sidenav-menu-heading">Installing</div>
                <a class="nav-link" href="{{ relative_url('installtion/getstart.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Overview
                </a>
                <a class="nav-link" href="{{ relative_url('installtion/process.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Process
                </a>

                <div class="sb-sidenav-menu-heading">Site Setup</div>
                <a class="nav-link" href="{{ relative_url('settings/site.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Manage Site
                </a>
                <a class="nav-link" href="{{ relative_url('settings/mail.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Mail
                </a>
                <a class="nav-link" href="{{ relative_url('settings/withdraw.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Withdraw
                </a>
                <a class="nav-link" href="{{ relative_url('settings/referral.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Referral
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <a class="nav-link" href="{{ relative_url('support.html') }}">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    Support
                    </div>
                </a>
        </div>
    </nav>
</div>
