---
title: "Documentation - BigCash"
layout: "layout.njk"
permalink: "support.html"
---
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h6">Contact Us</h1>
</div>


<h5>About Us</h5>
<p>Who we are? We are top leading web development and designing company founded in 2013. The company
    <br> develops and improves professional websites for customers across a wide range of industries and
    the
    <br> main service area we are selling our top branded digital products like php scripts, premium
    <br> worpdress themes &amp; plugins and free items also
</p>
<p>People loved our prooducts also the items we developed in such way that anyone can easily customize
<br> according to their needs.</p>

<h5>Contact US</h5>
<ol>
    <li><a href="https://github.com/hansaldev" target="_blank">Github</a> </li>
    <li><a href="https://www.facebook.com/hansaldv/" target="_blank">Facebook</a> </li>
    <li><a href="https://t.me/hansaldev" target="_blank">Telegram</a> </li>
    <li><a href="https://www.linkedin.com/in/hansaldev/" target="_blank">Linkedin</a> </li>
    <li><a href="hansal2022@gmail.com" target="_blank">Gmail</a> </li>
</ol>